body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body header section {
  padding: 15px 0 10px 0;
  background-color: #FFE9AD;
}

body header section h1 {
    margin-top: 0;
    padding: 10px 0 5px 0;
}

body header section h2 {
    margin-bottom: 0;
    line-height: 30px;
}

body header nav ul {
    margin-top: 0;
    padding-top: 30px;
}

.heading-group-h1  {
    font-weight: bold;
    padding-left: 10px;
}

.main-nav {
    margin-top: 0px;
    padding-bottom: 5px;
}

.main-nav ul {
  padding-left: 5px;
  display: none;
}

nav ul {
    padding-left: 0;
}

/* header li {
    list-style-type: none;
    padding: 5px 0;
} */

header ul li {
    font-size: 24px;
    border-bottom: 1px solid gray;
    padding: 20px 0px;
}

ul a {
    text-decoration-line: none;
    color: gray;
}

.icon-menu {
    text-decoration-line: none;
    color: black;
    float: right;
    zoom: 3;
}

.main-nav:hover ul {
  display: block;
}

main {
    padding-left: 10px;
}

.byline * {
    display: inline;
}

.byline {
    color: gray;
}

.byline a {
    text-decoration-line: none;
    color: gray;
    font-weight: bold;
}

.article-body {
  line-height: 20px;
}

@media (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav ul {
    display: block;
  }

  header ul li {
      border-bottom: none;
      display: inline;
      padding-left: 15px;
  }
}
